/******************************************************************************/
/**************************     GLOBAL : **************************************/
/******************************************************************************/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    background: linear-gradient(135deg, #e6b5c4, #b993d6, #8ca6db);
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    color: white;
    text-align: center;
}

/******************************************************************************/
/******************** LAYOUT : HEADER & FOOTER ********************************/
/******************************************************************************/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 2rem;
    background-color: #406c4a;
}

nav {
    display: flex;
    gap: 2rem;
}

footer {
    padding: 0.75rem;
    color: white;
    background-color: #333333;
}

footer p {
    text-align: center;
}

/******************************************************************************/
/*********************** PAGE SIGNUP ******************************************/
/******************************************************************************/

.signup-page h1 {
    margin: 2rem;
    color: #363a3f;
}

.signup-card {
    width: 800px;
    padding: 5rem;
    background-color: #dccadd;
    text-align: center;
}

.signup-card label {
    display: block;
    text-align: center;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.2rem;
}

.signup-card input {
    width: 50%;
    padding: 10px 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    transition: border 0.3s;
}

/* INDEX PAGE + SIGNUP PAGE SIMILAR STYLE */


.signup-card button,
.index-card a {
    display: inline-block;
    color: white;
    font-size: 1.2rem;
    padding: 0.45rem;
    border-radius: 0.25rem;
    background-color: #406c4a;
}
.signup-card button {
    margin: auto;
    display: block;
    color: white;
    border: none;
    cursor: pointer;
}

.signup-card .error {
    font-size: 1.2rem;
    color: red;
    font-weight: bold;
    margin: 1rem;
}

.signup-card a {
    color: black;
    font-size: 1.2rem;
}

/******************************************************************************/
/*********************** PAGE INDEX ******************************************/
/******************************************************************************/
.index-card {
    text-align: center;
}

.index-page .index-card h1 {
    margin: 2rem;
}